*{
                  margin: 0;
                  padding: 0;
    }
html{
    scroll-behavior: smooth;
}
#myVideo {
    position: absolute;
    z-index: -2;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

              .menu{
                  position: fixed;
                  z-index: 1;
                  width: 100%;
                  height: 3rem;
                  background-color: #222;
                  font-family: 'Arial';
              }
              .menu ul{
                  list-style: none;
                  position: relative;
              }
              .menu ul li{
                  width: 9.375rem;
                  height: 100%;
                  float: left;
                  display: flex;
                  align-items: center;
              }
              .menu a{
                  padding: 0.9375rem;
                  display: block;
                  text-decoration: none;
                  text-align: center;
                  background-color: #222;
                  color: #F5F5F5;
              }
              /*.menu ul ul a{
                  float: none;
                  background-color: #222;
              }*/
              .menu li:last-child{
                  float: right;
                  
              }
            .Logo{
                width:2.5rem;
                height: 2.5rem;
                margin-left: 3.5rem;
                
               
             }
               .Informacao{
                      display: flex;
                      justify-content:column;
                      align-items: center;
                      justify-content: center;
                      width: 100%;
                      /*height: calc(100vh - 50vh) estava antes*/
                      /*height: 100vh;
                     /* min-height: 500px;*/
/*                      min-height: 800px;*/
                       height: 100vh;
/*                      max-height: 62.5rem;*/
                      min-height: 31.25rem;
                      background-color:rgba(0, 0, 0, 0.5);
/*                       max-height: 62.5rem;*/
/*                       background-color: #00B2EE;*/
                  }
               .Informacao:nth-of-type(1) .HelpCode{
                display: flex;
                flex-direction: column;
                font-size: 3rem;
                font-family: 'Arial';
                align-items: center;
                color: #FFF;
              }    
              .Informacao:nth-of-type(1) .Subtitulo{
                display: flex;
                flex-direction: column;
                font-size: 2rem;
                font-family: 'Arial';
                  text-align: center;
                  width: 40rem;
              }
              
               /*---------------------------------------------------------------------------------*/
               /*Efeito sublinhado Menu*/
                .menu a {
                  position: relative;
                  color: #fff;
                  text-decoration: none;  
                }

                .menu a:before {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 0.1875rem;
                  bottom: 0;
                  left: 0;
                  background-color: #00B2EE;
                  visibility: hidden;
                  -webkit-transform: scaleX(0);
                  transform: scaleX(0);
                  -webkit-transition: all 0.3s ease-in-out 0s;
                  transition: all 0.3s ease-in-out 0s;
                }

                .menu a:hover:before {
                  visibility: visible;
                  -webkit-transform: scaleX(1);
                  transform: scaleX(1);
              }
               /*---------------------------------------------------------------------------------*/
             
              .Informacao:nth-of-type(3){
                  background-color: #FFF;
/*                  background-color: #7EC0EE;*/
/*                    height: 100vh;*/
/*                  min-height: 1000px;*/
/*                  min-height: 500px;*/
                   display: flex;
                  flex-direction: column;
                  justify-content: space-evenly;
                  align-items: center;
                 height: 100vh;
/*                  max-height: 62.5rem;*/
               
                  
                  }
              
              .Informacao:nth-of-type(3) .Retangulo{
                  display: flex;
                  flex-direction: row;
                  border-radius: 1.25rem;
                  justify-content: space-evenly;    /*separa igualmente*/
/*                justify-content: space-around;  deixa um espaço*/
/*                justify-content: space-between;     Encosta os cantos*/
                  align-items: center;
                  width: 80vw;
                  height: 31.25rem;
                  background-color: #222;
                }
               .Informacao:nth-of-type(3) .PassoAPasso{
                  font-family: 'Arial';
                  font-size: 3.125rem;

              }
              .Informacao:nth-of-type(3) .PassoAPasso:after{
                  content: "";
                  display: block;
                  height: 0.3125rem;
                  width: 100px;
                  background-color: #2488FF;
                  margin: 1.25rem auto 0;
              }
              .Informacao:nth-of-type(3) .Quadrado{
                  display: flex;
                  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
                  flex-direction: column;
                  justify-content: row;
                  align-items: center;
                  width: 18.75rem;
                  height: 18.75rem;
                  background-color: #FFF;
                  
/*                  box-shadow: 0px 10px 0px lightgray;*/
                  }
/*
            .Informacao:nth-of-type(3) .Quadrado:nth-of-type(1):hover .Quadrado:nth-of-type(2) { Efeito cinza em outros quadrados
                  filter: grayscale(grey);
                  }
              /*.Informacao:nth-of-type(3) .Dois{
                  display: flex;
                  border-radius: 20px 20px 20px 20px;
                  flex-direction: column;
                  justify-content: row;
                  align-items: center;
                  width: 300px;
                  height: 300px;
                  background-color: #FFF;
                  }
              .Informacao:nth-of-type(3) .Tres{
                  display: flex;
                  border-radius: 20px 20px 20px 20px;
                  flex-direction: column;
                  justify-content: row;
                  align-items: center;
                  width: 300px;
                  height: 300px;
                  background-color: #FFF;
                  }*/
             .TextoPasso1{ 
                  font-family: 'Arial', sans-serif;
                  margin-top: 3.125rem;
                  font-size: 1.5rem;
              }
              .TextoPasso2{
                  text-align: center;
                  font-family: 'Arial', sans-serif;
                  margin-top: 3.125rem;
                  font-size: 1.5rem;
                  width: 18.75rem;
              }
              .TextoPasso3{
                  text-align: center;
                  font-family: 'Arial', sans-serif;
                  margin-top: 3.125rem;
                  font-size: 1.5rem;
                  width: 19.0625rem;
                 
              }
              .ImagemPasso{
                  width: 18.75rem;
                  height: 11.25rem;
                
              }
              .Informacao:nth-of-type(1) .Botoes{
                  display: flex;
                  flex-direction: row;
                  margin-top: 0.9375rem;
                  align-items: center;
                  width: 31.25rem;
                  justify-content: space-evenly;
              }
              .Informacao:nth-of-type(1) .Iniciar{
                  display: flex;
                  color: #FFF;
                  width: 12.5rem;
                  height: 3rem;
                  border-radius: 1.25rem;
                  font-weight: bold;
                  padding: 0.375rem 0.625rem;
                  font-size: 1.5625rem;
                  font-family: 'Arial';
                  text-decoration: none;
                  flex-direction: column;
                  align-items: center;
                  justify-content: space-evenly;
/*                  background-color: #FFF;  */
                  background-color: #222;
              }
              .Informacao:nth-of-type(1) .Instrucoes{
                  display: flex;
                  color: #222;
                  height: 3rem;
                   width: 12.5rem;
                  cursor: pointer;
                  border-radius: 1.25rem;
                  font-weight: bold;
                  padding: 0.375rem 0.625rem;
                  font-family: 'Arial';
                  text-decoration: none;
                  flex-direction: column;
                  justify-content: row;
                  align-items: center;
                  justify-content: space-evenly;
                  font-size: 1.5625rem;

                  background-color: #FFF;                  
              }
             .Informacao:nth-of-type(1) .Iniciar:hover{
                color: #FFF;
                 background-color: #2488FF;
/*                background-image:linear-gradient(#bcf2f7, #6dc9f7, #27aef2);*/

              }
              .Informacao:nth-of-type(1) .Instrucoes:hover{
                  color: #FFF;
                   background-color: #2488FF;
/*                  background-image: linear-gradient(#bcf2f7, #6dc9f7, #27aef2);*/
              }
              .informacao:nth-of-type(2){
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: space-evenly;
                  background-color:  #FFE4C4;
/*                  width: 100%;*/
                 min-height: 31.25rem;
/*                  max-height: 500px;*/
                 height: 100vh;
              }
              .Informacao:nth-of-type(2) .TextoFuncionamento{
                  font-family: 'Arial';
                  font-size: 3.125rem;
              }
              .Informacao:nth-of-type(2) .TextoFuncionamento:after{
                  content: "";
                  display: block;
                  height: 0.3125rem;
                  width: 6.25rem;
                  background-color: #2488FF;
                  margin: 1.25rem auto 0;
              }
              .Informacao:nth-of-type(4){
                  display: flex;
                  align-items: center;
                  justify-content: space-evenly;
                  flex-direction: column;
/*                  background-color: #dbebce;*/
                   background-color: #FFE4C4;
/*                  max-height: 1000px;*/
                  /*min-height: 500px;
                  height: 100vh;*/
                    height: 100vh;
/*                  min-height: 62.5rem;*/
                  min-height: 31.25rem;
                  border-top: solid 0.3125rem #FFE4C4;
              }
                 
               .Informacao:nth-of-type(4) .TextoTabelas{
                  font-family: 'Arial';
                  font-size: 50px;
                   
              }
              .Informacao:nth-of-type(4) .TextoTabelas:after{
                  content: "";
                  display: block;
                  height: 0.3125rem;
                  width: 6.25rem;
                  background-color: #2488FF;
                  margin: 1.25rem auto 0;
              }
              .Informacao:nth-of-type(4) .ConteudoTabelas{
                   display: flex;
                  flex-direction: row;
                  justify-content: space-evenly;    /*separa igualmente*/
                  align-items: center;
                  width: 80vw;
                  border-radius: 1.25rem;
                  height: 31.25rem;
                  background-color: #222;   
              }
            .Informacao:nth-of-type(4) .Tabelas{
/*                  background-color: #cceeff;*/
/*                background-color: #528eff;*/
                background-color: #57A4FF;
                   display: flex;
                  flex-direction: column;
                border-radius: 1.25rem;
                  justify-content: row;
                  align-items: center;
                  width: 21.875rem;
                  height: 18.75rem;
                }
              .ImagemPasso{
                  overflow: hidden;
                  border-radius: 1.25rem 1.25rem 0rem 0rem;
                  width: 18.75rem;
              }
                
              .Titulo1{
                  font-family: 'Arial';
                  font-weight: bold;
                  text-align: center;
                  padding: 0.625rem;
                  font-size: 2rem;
                  color: #FFF; 
              }
              .Titulo1:hover{
                  color: #c0fcfb;
                }
               .Titulo2:hover{
                  color: #c0fcfb;
                }
              .Titulo1:after{
                  content: "";
                  display: block;
                  height: 0.125rem;
                  width: 12.5rem;
                  background-color: #c9ced6;
/*                  background-color: #2488FF;*/
                  margin: 10px auto 0;
              }
              .ConteudoTabela1{
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  padding: 15px;
                  width: 300px;
                  border-radius: 20px;
                  height: 200px;
              }
              .Conteudo1{
                  font-weight: bold;
                  font-size: 1.5rem;
                  font-family: 'Arial';        
              }
              .Conteudo2{
                  font-weight: bold;
                  font-size: 1.5rem;
                  font-family: 'Arial';
              }
              .Conteudo3{
                  font-weight: bold;
                  font-size: 1.5rem;
                  font-family: 'Arial';
              }
              .Conteudo3:after{
                  content: "";
                  display: block;
                  height: 0.125rem;
                  width: 12.5rem;
/*                  background-color: #2488FF;*/
                  background-color: #c9ced6;
                  margin: 0.625rem auto 0;
              }
              .Valor1{
                  display: flex;
                  justify-content: center;
                  font-weight: bold;
                  font-size: 2rem;
              }
              .BotaoTabelaUm{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  width: 100%;
                  height: 6.25rem;
                  /*justify-content: space-evenly;
                  /*background-color: #222;*/
                  border-radius: 1.25rem;
              }
              .Registrar1:hover{
                  color: #222;
/*                  background-color: #2488FF;*/
                  background-color: #a1a1a1;
                }
                .Registrar2:hover{
                color: #222;
/*                background-color: #2488FF;*/
                background-color: #a1a1a1;
                }
              .Registrar1{
                  display: flex;
                  color: #222;
                  width: 100%;
                  height: 100%;
                  border-radius: 0rem 0rem 1.25rem 1.25rem;
                  font-weight: bold;
                  /*padding: 6px 10px;*/
                  font-size: 1.5625rem;
                  font-family: 'Arial';
                  text-decoration: none;
                  flex-direction: column;
                  justify-content: row;
                  align-items: center;
                  justify-content: space-evenly;
                  background-color: #FFF;  
              }
                /*----------------------------------------------------------*/
              .Titulo2{
                  font-family: 'Arial';
                  font-weight: bold;
                  text-align: center;
                  padding: 0.625rem;
                  font-size: 2rem;
                  color: #FFF;
                  
              }
              .Titulo2:after{
                  content: "";
                  display: block;
                  height: 0.125rem;
                  width: 12.5rem;
/*                  background-color: #2488FF;*/
                  background-color: #c9ced6;
                  margin: 0.625 auto 0;
              }
               .ConteudoTabela2{
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  padding: 0.9375rem;
                  width: 18.75rem;
                  height: 12.5rem;
              }
              .Conteudo1{
                  font-weight: bold;
                  font-size: 1.5rem;
                  font-family: 'Arial';        
              }
              .Conteudo2{
                  font-weight: bold;
                  font-size: 1.5rem;
                  font-family: 'Arial';
              }
              .Conteudo3{
                  font-weight: bold;
                  font-size: 1.5rem;
                  font-family: 'Arial';
              }
              .Conteudo3:after{
                   content: "";
                  display: block;
                  height: 0.125rem;
                  width: 12.5rem;
/*                  background-color: #2488FF;*/
                  background-color: #c9ced6;
                  margin: 0.625rem auto 0;
              }
              .Valor2{
                  display: flex;
                  justify-content: center;
                  font-weight: bold;
                  font-size: 2rem;
              }
              .BotaoTabelaDois{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  width: 100%;
                  height: 6.25rem;
                  background-color: #222;
                   border-radius: 1.25rem;
              }
              .Registrar2{
                  display: flex;
                  color: #222;
                   border-radius: 1.25rem;
                  font-weight: bold;
/*                  padding: 6px 10px;*/
                  width: 100%;
                  height: 100%;
                  font-size: 1.5625rem;
                  font-family: 'Arial';
                  text-decoration: none;
                  flex-direction: column;
                  justify-content: row;
                  align-items: center;
                  justify-content: space-evenly;
                  background-color: #FFF;  
                   border-radius: 0rem 0rem 1.25rem 1.25rem;
              }
            .Estrela:hover{
                animation: bounce 1s;
            }
            .Quadrado:hover{
                animation: bounce 2s;
            }
            .carro:hover{
                animation: bounce 2s;

            }
            .Copyright:hover{
                color: #5b615f;
            }
            @keyframes bounce{
                0%, 20%, 60%, 100%{
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }
                40%{
                  
                     -webkit-transform: translateY(-1.25rem);
                    transform: translateY(-1.25rem);
                }
                 80%{
                     -webkit-transform: translateY(-0.625rem);
                    transform: translateY(-0.625rem);
                }
            }
            .carro{
                width: 100%;
            }
            carro:hover{
               animation: bounce 2s;
            }
            .Rodape{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                width: 100%;
                height: 6.25rem;
                padding: 3%, 4%;
                background-color: #000;
              }
            .TextoRodape{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 3.125rem;
                width: 25rem;
            }
            .EspacoLogo{
                display: flex;
                justify-content: space-evenly;
                flex-direction: row;
                width: 6.25rem;
                height: 3.125rem;
            }
            .LogoRodape{
                width: 2.5rem;
                height: 2.5rem;
                filter: grayscale(100%);
            }
            .LogoRodape:hover{
                filter: drop-shadow(0rem 0rem 0rem blue);
                transition: 5s;
            }
            .Copyright{
                align-items: center;
                color: grey;
            }
            
            @media screen and (max-width:64rem){ 
                .Logo{
                    height: 5rem;
                    width: 5rem;
                }
                .menu{
                    height: 10rem;
                    font-size: 1.5rem;
                     text-align: center;
                }
                .menu a{
                    padding: 1.875rem;
                   
                }
                .menu .entrar{
                   font-size: 2rem; 
                }
                .menu .funcionamento{
                    display: none;
                }
                 .menu .instrucoes{
                    display: none;
                }
                 .menu .tabelas{
                    display: none;
                }
                 .menu .paginaInicial{
                    display: none;
                }
                
                .Informacao:nth-of-type(1) .HelpCode{
                font-size: 5rem;
                }
                .Informacao:nth-of-type(1) .Subtitulo{
                font-size: 3rem;
                }
                .Botoes{
                    font-size: 2rem;
                }
                .Informacao:nth-of-type(1) .Botoes{
                    width: 37.5rem;
                    justify-content: space-evenly;
                }
                .Informacao:nth-of-type(1) .Iniciar{
                    font-size: 3rem;
                }
                .Informacao:nth-of-type(1) .Instrucoes{
                    font-size: 3rem;
                }
                
                .Informacao:nth-of-type(1) .Iniciar{
                     justify-content: space-evenly;
                     width: 15.625rem;
                     height: 3.125rem; 
                }
                .Informacao:nth-of-type(1) .Instrucoes{
                     justify-content: space-evenly;
                     width: 15.625rem;
                     height: 3.125rem; 
                }
                  .Informacao:nth-of-type(2){
                    height: 62.5rem;
                    flex-direction: column;
                }
                 .Informacao:nth-of-type(2){
                     height: 100vh;
                }
                
                 .Informacao:nth-of-type(2) .TextoFuncionamento{
                     font-size: 5rem;
                }
                  .Informacao:nth-of-type(3){
                    /*height: 9.375rem;*/
/*                    height:62.5rem;*/
/*                     min-height: 100vh;*/
                     height: 110vh;
/*                    min-height: 62.5rem;*/
                    flex-direction: column;
                }
                .Informacao:nth-of-type(3) .Retangulo{
                flex-direction: column;
                  height: 80rem;
                }
                .Informacao:nth-of-type(3) .Quadrado{
                    width: 25rem;
                    height: 25rem;
                }
                .Informacao:nth-of-type(1){
                    height: 100vh;
                }
                .Informacao:nth-of-type(3) .ImagemPasso{
                    width: 25rem;
                    height: 15rem;
                }
               .Informacao:nth-of-type(3) .TextoPasso1{
                    margin-top: 3.75rem;
                    font-size: 2rem;
                }
                .Informacao:nth-of-type(3) .TextoPasso2{
                    margin-top: 3.75rem;
                    font-size: 2rem;
                }
                .Informacao:nth-of-type(3) .TextoPasso3{
                    margin-top: 3.75rem;
                    font-size: 2rem;
                }
              
                 .Informacao:nth-of-type(3) .PassoAPasso{
                 font-size: 5rem;    
                }
               
                .Retangulo{
                    justify-content: center;
                    flex-direction: column;
                    height: 150vh;
                    width: 20vw;
                }
                 .Informacao:nth-of-type(4) .ConteudoTabelas{
                    height: 62.5rem;
                    flex-direction: column;
                }
                 .Quadrado{
                    flex-direction: column;
                }
                  .Informacao:nth-of-type(4){
/*                    height: 62.5rem;*/
                    height: 100vh;
                    flex-direction: column;
                }
                .Informacao:nth-of-type(4) .TextoTabelas{
                    font-size: 5rem;
                }
                .Informacao:nth-of-type(4) .Tabelas{
                     width: 25rem;
                    height: 25rem;
                }

                  .ConteudoTabelas{
                    justify-content: center;
                    flex-direction: column;
                    height: 60vh;
                    width: 20vw;
                }
                 .TabelaUm{
                    flex-direction: column;
                }
                .TabelaDois{
                    flex-direction: column;
                }
                   .TextoTabelas{
                    font-size: 1.5625rem;
                    text-align: center;
                }
                 
                 .PassoAPasso{
                    text-align: center;
                    font-size: 20rem;
                }
                 .HelpCode{
                    text-align: center;
                }
                .Copyright{
                    text-align: center;
                }
                .Titulo1{
                    font-size: 3rem;
                }
                .Titulo2{
                    font-size: 3rem;
                }
                .ConteudoTabela1 .Conteudo1{
                    font-size: 2rem;
                }
                 .ConteudoTabela1 .Conteudo2{
                    font-size: 2rem;
                }
                 .ConteudoTabela1 .Conteudo3{
                    font-size: 2rem;
                }
                 .ConteudoTabela1 .Valor1{
                    font-size: 2rem;
                }
                 .ConteudoTabela2 .Conteudo1{
                    font-size: 2rem;
                }
                 .ConteudoTabela2 .Conteudo2{
                    font-size: 2rem;
                }
                 .ConteudoTabela2 .Conteudo3{
                    font-size: 2rem;
                }
                 .ConteudoTabela2 .Valor2{
                    font-size: 2rem;
                }
                .Registrar1{
                    font-size: 2rem;
                }
                .Registrar2{
                    font-size: 2rem;
                }
                .Rodape{
                    height: 12.5rem;
                }
                .TextoRodape{
                    width: 700px;
                }
                .Copyright{
                    font-size: 2rem;
                }
                .LogoRodape{
                    width: 4rem;
                    height: 4rem;
                }
            }
/*@media all and (max-width:82.25rem){
    .Informacao:nth-of-type(1){
        min-height: 100vh;
    }
    .Informacao:nth-of-type(2){
        height: 100vh;
    }
     .Informacao:nth-of-type(3){
        height: 110vh;
    }
   
    .Informacao:nth-of-type(4){
        height: 100vh;
    }
}
              /*@media all and (min-height:200vh){
                    .Informacao{
                        max-height: 350px;
                    }
                }
          







