@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.2rem;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.menu {
    list-style: none;
    float: left;
    background-color: #222;
    width: 100vw;
}

.menu li {
    height: 3rem;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 1.5rem;
}

.menu li:first-child {
    display: none;
    height: 2rem;
    padding: 0.5rem;
    cursor: pointer;
}

.menu li:nth-of-type(3) {
    margin-left: 0;
}

.menu li:last-child {
    float: right;
    margin-right: 3rem;
}

.menu li img {
    height: 80%;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    border-bottom: 0.1rem solid #222;
}

.menu li a:hover {
    border-bottom: 0.1rem solid #57A4ff;
    color: #fff;
}




@media screen and (max-width: 768px) {
    .menu {
        list-style: none;
        float: left;
        background-color: #222;
        width: 100vw;
        position: relative;
    }

    .menu li {
        display: none;
    }

    .menu li:last-child,
    .menu li:first-child {
        position: initial;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 2rem;
        margin-left: 0.5rem;
    }

    .menuVisivel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgba(45, 45, 45, 0.99);
    }

    .menuVisivel li {
        display: block;
        margin: 0;
        height: fit-content;
    }

    .menuVisivel li:nth-of-type(2) {
        display: none;
    }

    .menuVisivel li:first-child {
        position: fixed;
        top: 0;
        left: 0;
        margin-left: 0.5rem;
    }

    .menuVisivel li:last-child {
        position: fixed;
        top: 0;
        right: 0;
        margin-right: 2rem;
        height: 3rem;
    }

    .menuVisivel li a {
        border-bottom: 0;
        font-size: 2rem;
        padding: 0.1rem 2rem;
        margin: 1rem 0;
        /* border-bottom: 0.1rem solid #57A4ff; */
    }

    .menu li a:hover {
        border-bottom: 0;
        color: #fff;
    }

    .menuVisivel li:last-child a {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }
}