html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/fundoAddTabela.png");
    background-color: rgba(45, 45, 45, 1);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: inherit;
}

.escolherTabela,
.tipoTabela,
.formTabela {
    height: calc(100vh - 3rem);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    min-height: 30rem;
}

.escolherTabela,
.tipoTabela {
    background-color: transparent;
}

.formTabela {
    background-color: #57A4FF;
}

h1 {
    text-align: center;
}

/* ////////////////////////////// TABELA MODELO //////////////////////////////////////// */

.escolherTabela div {
    height: min-content;
    width: 40rem;
    padding: 1.5rem;
    background-color: #57A4FF;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.escolherTabela div .tabelasModelos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
}

.escolherTabela div .tabelasModelos div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: min-content;
    padding: 0;
}

.escolherTabela div .tabelasModelos div div a {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 0.7rem 1rem;
    margin: 0.5rem 0.5rem;
    border-radius: 1rem;
    width: 100%;
    text-align: center;
}

.escolherTabela div .tabelasModelos div div .custom {
    color: #000;
    background-color: #fff;
}


/* ////////////////////////////// TIPO DE TABELA //////////////////////////////////////// */
.tipoTabela {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 25rem;
}

.tipoTabela .conteudo {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #57A4FF;
    border-radius: 1rem;
    width: 43vw;
    padding: 1.5rem 0 0 0;
}

.tipoTabela img {
    width: 20vw;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.tipoTabela .conteudo div div:first-child img {
    border-right: 0.1rem solid #000;
    border-top: 0.1rem solid #000;
}

.tipoTabela .conteudo div div:last-child img {
    border-left: 0.1rem solid #000;
    border-top: 0.1rem solid #000;
}

.tipoTabela .conteudo div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;

}

.tipoTabela .conteudo div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min-content;
    padding: 1.5rem 0 0 0;
}

.tipoTabela .conteudo div div a {
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background-color: #000;
    border-radius: 0;
    padding: 1rem 0;
    width: 100%;
}

.tipoTabela .conteudo div div a:hover {
    text-decoration: none;
    color: #000;
    background-color: #FFF;
    border-radius: 0;
    padding: 1rem 0;
}






/* ////////////////////////////// FORMULARIOS DA TABELA //////////////////////////////////////// */
.formTabela {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 3rem);
    height: min-content;
}

.formTabela div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formTabela div h1 {
    margin-top: 3rem;
}

.formTabela div .nomeTabela {
    border-width: 0;
    outline: none;
    font-size: 1.2rem;
    border: 0.1rem solid #000;
    border-radius: 0.5rem;
    padding: 0 0.2rem;
    background-color: #57A4FF;
    color: #000;
    text-align: center;
    height: 2rem;
    margin-top: 3.2rem;
}

.formTabela .conteudo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background-color: #57A4FF;
    border-radius: 1rem;
    overflow: hidden;
    margin: 1rem 0;
    padding: 2rem 0;
    width: 28rem;
}

.formTabela .conteudo ul {
    margin: 0 3rem;
    list-style: none;
    padding-bottom: 2.5rem;
    position: relative;
}

.formTabela .conteudo ul li:first-child {
    position: absolute;
    bottom: 0.7rem;
    padding: 0.5rem 0.8rem 0 0;
    width: max-content;
    cursor: pointer;
}

.formTabela .conteudo ul li div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.formTabela .conteudo ul img {
    height: 1.5rem;
    padding: 0.5rem 1rem 0 0;
    margin-left: 0.5rem;
    cursor: pointer;
    margin-top: 0.6rem;
}

.formTabela .conteudo ul li input {
    outline: none;
    border: 0.1rem solid #2488ff;
    border-radius: 0.5rem;
    padding: 0 0.2rem;
    height: 1.5rem;
    font-size: 1rem;
    margin-top: 0.5rem;
}




/*///////////////////////////////////// PARA TABLET ////////////////////////////////////*/
@media screen and (max-width: 1024px) {

    /* ////////////////////////////// TIPO DE TABELA //////////////////////////////////////// */
    .tipoTabela .conteudo {
        width: 73vw;
    }

    .tipoTabela img {
        width: 35vw;
    }

    /* ////////////////////////////// FORMULARIOS DA TABELA //////////////////////////////////////// */
    .formTabela .conteudo ul li input {
        margin-top: 1.2rem;
    }
}




/*///////////////////////////////////// PARA CELULAR ////////////////////////////////////*/
@media screen and (max-width: 768px) {

    /* ////////////////////////////// TABELA MODELO //////////////////////////////////////// */
    .escolherTabela div {
        width: 80vw;
    }

    .escolherTabela div .tabelasModelos div {
        flex-direction: column;
    }

    .escolherTabela div .tabelasModelos div div {
        flex-direction: row;
    }

    .escolherTabela div .tabelasModelos div div a {
        padding: 0.7rem 0.3rem;
    }

    /* ////////////////////////////// TIPO DE TABELA //////////////////////////////////////// */
    .tipoTabela .conteudo {
        width: 95vw;
    }

    .tipoTabela img {
        width: 47.5vw;
    }

    .tipoTabela .conteudo div div a {
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    /* ////////////////////////////// FORMULARIOS DA TABELA //////////////////////////////////////// */
    .formTabela div {
        display: flex;
        flex-direction: column;
    }

    .formTabela div .nomeTabela {
        height: 2rem;
        margin-top: 0;
    }

    .formTabela .conteudo {
        width: 90vw;
    }

    .formTabela .conteudo ul {
        margin: 0 1.5rem;
    }
}